.similar-movies {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.similar-movies h2 {
  border-bottom: 2px solid #fff;
}

.similar-movies__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.similar-movies__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.similar-movies__card .img-container {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.similar-movies__card img {
  object-fit: cover;
  position: absolute;
}

.similar-movies__desc {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
  height: 15rem;
  border-radius: 0 0 5px 5px;
  color: var(--clr-bg);
  gap: 0.5rem;
}

.similar-movies__desc-detail h4 {
}

.similar-movies__rating {
  display: flex;
  gap: 0.3rem;
}

.similar-movies__rating svg {
  width: 1.1rem;
  height: 1.1rem;
  fill: #f3af11;
  stroke: #f3af11;
}

.similar-movies__rating div {
  font-size: 0.9em;
}

.similar-movies__overview {
  height: 12rem;
  overflow-y: auto;
}

.similar-movies__desc button {
  margin: 0.5rem auto;
  width: 8rem;
  background-color: #31317c;
  color: #f2f2f2;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
